@charset "UTF-8";

/* 
   Paleta de cores
   Azul: #00Bfff
   lilas: #5F2C82
*/

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body,html {
    background-color: #00BFFF;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 260px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;

    transform: width .4s, heght .4s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:  #5F2C82 url(../imagens/Paisagem\ pexels.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 1,8em;
}

div.campo > label {
    display: none;
}
div.campo > i {
    color: white;
    /* background-color*/
    font-size: 1.5em;
}
div.campo > input {
    background-color: #00BFFF;
    font-size: 1em;
    width: calc(100% - 28px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 0px;
    transform: translateY(-0px);

}
div.campo > input:focus-within {
    background-color: white;
    border: none;
}
form > input[type=submit] {

    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(16, 90, 90);
} 

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    color: white;
    border: 1px solid beige;
    background-color: #00BFFF;
    border-radius:  7px;
}

form > a.botao:hover{
    background-color: rgb(16, 90, 90) ;
}

form > a.botao > i {
    font-size: 1.2em;
}

form > div.campo {
    background-color: #5F2C82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin:  5px 0px;
}
 